body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--mainfont);
}

.navbar {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  height: 134px;
}
.logo {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 3px;
  transition: 0.3s;
}

.hamburger.active .line1 {
  transform: rotate(-45deg) translate(-7px, 5px);
}

.hamburger.active .line2 {
  opacity: 0;
}

.hamburger.active .line3 {
  transform: rotate(45deg) translate(-7px, -5px);
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links {
  padding: 0;
  display: flex;
  list-style: none;
}
.nav-links li {
  padding: 0 1rem;
  font-weight: 600;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.social-links img {
  width: 100%;
  max-width: 26px;
  height: auto;
  margin: 0 3px;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0.8rem 1rem;
  }
  .hamburger {
    display: flex;
    z-index: 1000;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    transition: top 0.5s ease;
    margin: 0 auto;
    z-index: 999;
  }
  .links {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .nav-links li {
    padding: 1rem;
    text-align: center;
  }
  .nav-links a {
    color: #000;
  }
  .nav-links.active {
    top: 0;
  }
}
.division {
  height: 20px;
  width: 100%;
  background-color: #fff;
}
.hero-section {
  width: 100%;
  height: 595px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.social-links-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 1rem;
  left: 23%;
}
.social-links-hero img {
  width: 100%;
  max-width: 29px;
  height: auto;
  margin-right: 0.2rem;
  padding-top: 0.3rem;
}
.social-links-hero span {
  color: #fff;
  font-size: 12px;
  text-align: start;
}
.hero-img-wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 43%;
}
.hero-img {
  width: 100%;
  max-width: 715px;
  height: auto;
  margin-bottom: 3.3rem;
}
.hero-text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  right: 18%;
}
.hero-text-header {
  color: #fff;
  font-size: 72px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 600;
}
.hero-text-sub {
  color: #fff;
}
.hero-btn {
  height: 42px;
  width: 210px;
  border-color: #f15025;
  border-radius: 8px;
  background-color: #f15025;
  color: #fff;
  margin-top: 0.7rem;
}
.contact {
  background-color: #f15025;
  margin-right: 0.5rem;
}
.work {
  background-color: transparent;
}
@media screen and (max-width: 1270px) {
  .hero-img-wrapper {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .social-links-hero {
    left: 0;
    position: absolute;
  }
  .hero-text-wrapper {
    right: 0;
    left: 10%;
    position: absolute;
  }
}
