*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--mainfont);
}

a,
ul,
li {
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}
